.header img{
    height: 100px;
    width: 350px;    
}
.header{
    text-align: center;
}

.Nav{
    background-color: black;
    color:white;
    height: 150px;
    
}
.Nav a{
    padding: 10px;
}
.list{
    list-style: none;
    display: flex;    
}
.list li{
    margin-left: 20px;
    padding: 10px;
    font-size: large;    
}
.inputBox input[type=text] {
    float: right;
    padding: 6px;
    border: none;
    margin-top: 8px;
    margin-right: 180px;
    margin-bottom: 10px;
    font-size: 17px;
    width: 70%;
  }
a:link{
    text-decoration: none;  
    color: white; 
}
a:visited{
    color:aliceblue
}
a:hover{
    background-color: gray;
}
